/* a[href="#"]:not(.link-ok) { */
    /* color: red; */
    opacity: .2;
}

a[href^="http"]{
    color: red;
}

a[href$=".pdf"]{
    color: green;
}

a[target="_blank"] {
    text-decoration: none;
}

p:first-child {
    color: red;
}

p:nth-child(2){
    background-color: blue;
}

p:first-of-type{
    background-color: green;
}

p:last-of-type{
    background-color: red;
}