/* a[href="#"]:not(.link-ok) {
    color: red; 
    opacity: .2;
}

a[href^="http"]{
    color: red;
}

a[href$=".pdf"]{
    color: green;
}

a[target="_blank"] {
    text-decoration: none;
}

p:first-child {
    color: red;
}

p:nth-child(2){
    background-color: blue;
}

p:first-of-type{
    background-color: green;
}

p:last-of-type{
    background-color: red;
}

li:nth-child(3n - 2) {
    background-color: red;
}


li:nth-child(4n - 2) {
    text-align: right;
}
li {
    text-align: center;
}

li::before {
    content: "befor:::";
}

li::after {
    content: "::: after";
} */

p {
    margin: 0;
}
p::before {
    content: " ANTES "
}

p::after {
    content: " Depois";
}
div {
    border: 4px solid red;
    padding: 1em;
    position: relative;
}

div::after{
    content: "";
    width: 2em;
    height: 2em;
    background-color: red;
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
}

div::before{
       
}